<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/static/create.css">
</head>
<body>
    <form action="/create" method="post" enctype="multipart/form-data">
        <label for="product_name">Input product name</label>
        <input type="text" id="product_name" name="product_name" required>
        <label for="description">Input description</label>
        <input type="text" id="description" name="description" required>
        <input class="submit" type="submit" value="Submit">
    </form>
</body>
</html>
